/* .example-card {
  max-width: 400px;
} */

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}